<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EmployeesList</title>
</head>
<body>
<div>
    <a href="/employees/add"> Add New Employee</a>
</div>
<table>
    <thead>
    <tr>
        <th>
            ID
        </th>
        <th>
            Name
        </th>
        <th>
            Department
        </th>
        <th>
            Salary
        </th>
        <th>
            Email
        </th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>

</body>
</html>