<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User forms</title>
</head>
<body>
<h2>Enter user details:</h2>
<form th:action="@{/submitForm}" th:object="${user}" method="post">
    <label>First Name:</label>
    <input type="text" th:field="*{firstName}" />
    <label>Last Name:</label>
    <input type="text" th:field="*{lastName}"/>
    <label>Email:</label>
    <input type="text" th:field="*{email}" />

    <button type="submit">Submit</button>
</form>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : {}"
    </tbody>
</table>
</body>
</html>

<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Department</th>
        <th>Salary</th>
        <th>Email</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.firstName}"></td>
        <td th:text="${user.lastName}"></td>,
        <td th:text="${user.Email}"></td>
    </tr>
    </tbody>
</table>